#=========================================================================
# .gitignore for jeopardy
#=========================================================================

jeopardy
Jeopardy.app
*.jpdy

.DS_Store